TOTO
<h1>{{view.title}}</h1>
<div>Nombre total de pistes
    : {{view Ember.Select contentBinding="view.songCounts" valueBinding="view.songCountSelected"}}</div>
{{#if view.hasSong}}
  {{view App.SongsView contentBinding="view.tracks"}}
  <div>Version "extra loud" : {{view Ember.Checkbox checkedBinding="view.extraLoud"}}</div>
  <div>Création d'une image DDP avec encodage ISRC (à récupérer sur serveur sécurisé)
      : {{view Ember.Checkbox checkedBinding="view.ddpCoding"}}</div>
  {{#if view.ddpCoding}}
      Livraison à l'usine de pressage :
      <div>Livraison numérique {{view Ember.Checkbox checkedBinding="view.numericDelivery"}}</div>
      <div>Livraison physique (DVD pour l'image DDP et CD master pour contrôle)
          : {{view Ember.Checkbox checkedBinding="view.physicDelivery"}}</div>
  {{/if}}
  <div>Envoi postal : {{view Ember.Checkbox checkedBinding="view.postalSending"}}</div>

  <hr>
  <div>Prix : {{view.result}}</div>
{{/if}}