<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    	<form role="form-horizontal" role="form">
          <div class="row form-group">
              <label class="col-xs-7">Nombre de titres à masteriser de moins de 4' </label>
              {{input type="number" class="col-xs-5 count-input" value=firstSliceCount min="0" max="30"}}
          </div>
          <div class="row form-group">
            <label class="col-xs-7">Nombre de titres à masteriser entre 4' et 8' </label>
            {{input type="number" class="col-xs-5 count-input" value=secondSliceCount min="0" max="30"}}
          </div>
          <div class="row form-group">
            <label class="col-xs-7">Nombre de titres à masteriser entre 8' et 12' </label>
            {{input type="number" class="col-xs-5 count-input" value=thirdSliceCount min="0" max="30"}}
          </div>
          <div class="row form-group">
            <label class="col-xs-7">Nombre de titres à masteriser de plus de 12' </label>
            {{input type="number" class="col-xs-5 count-input" value=fourthSliceCount min="0" max="30"}}
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" checkedBinding='ddp'}} Master DDP (+ {{ddpPackage}} &#8364; + {{ddpByTitle}} &#8364; par titre)
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" checkedBinding='stems'}} Mastering par stems (autres que PBO + a cappella) (+ 20 %)
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" checkedBinding='alternative'}} Version alternative (PBO, vocal up) (+ 10%)
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" checkedBinding='presentiel'}} Mastering présentiel (+15%)
            </label>
          </div>
            <div class="checkbox">
            <label>
              {{input type="checkbox" checkedBinding='shipping'}} Envoi postal (+ 10 &#8364;)
            </label>
          </div>
        </form>
    </div>    
    <div class="col-md-6">
    	<table class="table table-striped">
        <tr>
        <td>{{totalCount}} x traitements mastering (réglage individuel pour chaque titre)</td>
        <td>{{titlesPrice}} &#8364;</td>
        <tr>
        <tr {{bind-attr class="stems::hidden"}}>
        <td>Morceaux fournis sous forme de stems</span></td>
        <td>{{stemsTotalPrice}} &#8364;</td>
        <tr>
        <tr {{bind-attr class="ddp::hidden"}}>
        <td>Livraison DDP</td>
        <td>{{ddpPrice}} &#8364;</td>
        <tr>
        <tr {{bind-attr class="alternative::hidden"}}>
        <td>Version alternative</td>
        <td>{{alternativePrice}} &#8364;</td>
        <tr>
        <tr {{bind-attr class="shipping::hidden"}}>
        <td>Envoi postal et manutention</span></td>
        <td>{{shippingPrice}} &#8364;</td>
        <tr>
        <tr>
        <td>Total HT</td>
        <td>{{htPrice}} &#8364; HT</td>
        <tr>
                <tr>
        <td>TVA</td>
        <td>20 &#37;</td>
        <tr>
                <tr>
        <td>Total TTC</td>
        <td>{{ttcPrice}} &#8364; TTC</td>
        <tr>
      </table>
    </div>
  </div>
</div>
